<% provide(:title, 'Nieuwe pagina') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Nieuwe pagina</h1>
    </div>
  </div>
  <div class="panel-body">
  	<%= render 'form' %>
  </div>  
  <div class="panel-footer">
  	<%= link_to 'Back', paginas_path %>
  </div>
</div>