<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, *|first_name|*
    
      There's a new *|pin|*!
    
    
      <strong><a href="*|pin_url|*">*|pin_title|*</a></strong>
    <p>
    <p>Enjoy!
      Best,<br/>
      Ineke
    </p>
  </body>
</html>
