<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Beste <%= @subscriber.first_name %>,
    
      Welkom bij mijn nieuwsbrief! <a href="http://uniekekracht.nl/">Meer info vind je op mijn website!</a>!
    
    
      Groetjes,<br/>
      Ineke
    
  </body>
</html>