<% provide(:title, 'Bewerk contactpagina') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Bewerk contactpagina</h1>
    </div>
  </div>
  <div class="panel-body">
  	<%= render 'form' %>
  </div>  
  <div class="panel-footer">
  	<%= link_to 'Show', @contactpagina %> |
  	<%= link_to 'Back', contactpaginas_path %>
  </div>
</div>