# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 586be04f0d72682747794ed58964f698f5643e616e334ee10dff4a070e2104eab754d04cfb21acc0dd31253b59b5e36c2d03d548da6c9b54a494a25c14bfa7d7
  mailchimp_api_key: e038bbf5379f7135f8565abd1528a9f0-us10

test:
  secret_key_base: c6503bebe429a3e382011f722e059c1b9b252e3f88e8c68e65c8732325d978b17d489b9ca093beb8e5dcb03396a19e9ff62f85b8347d5ef8d2b45a02d087f5b6
  mailchimp_api_key: e038bbf5379f7135f8565abd1528a9f0-us10

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  mailchimp_api_key: e038bbf5379f7135f8565abd1528a9f0-us10