<% provide(:title, 'Bewerk home') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Bewerk home</h1>
    </div>
  </div>
  <div class="panel-body">
  	<%= render 'form' %>
  </div>  
  <div class="panel-footer">
  	<%= link_to 'Show', @home %> |
  	<%= link_to 'Back', homes_path %>
  </div>
</div>