<div class="jumbotron center">
<div id="subscription">
  <h1>Your Subscription</h1>
  <p>You have signed up for the <strong><%= @subscription.plan.name %></strong> plan which includes a <strong>Maya consult</strong> for just <strong><%= number_to_currency @subscription.plan.price %></strong> per month!</p>
</div>
</div>