<% provide(:title, 'Inschrijven') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Schrijf u hier in!</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', subscribers_path %>
  </div>
</div>