<% provide(:title, 'Nieuw plan') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Nieuw plan</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', plans_path %>
  </div>
</div>