<footer class="footer">
  <div class="container">
  <small>
    Ineke Vosman © <%= Time.now.year %>
  </small>
  <nav>
    <ul>
	  <small>
	    Realisatie door <a href="http://www.pesolari.com">Pesolari Group</a>
	  </small>
    </ul>
  </nav>
</div><!--container-->
</footer>